body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.resume-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 1;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}

.right-column {
    flex: 2;
    padding: 20px;
}

.left-column h1 {
    margin-bottom: 10px;
}

.left-column p {
    margin: 5px 0;
}

.right-column h2 {
    margin-top: 20px;
}

.right-column p {
    margin: 5px 0;
}

.project-item p {
    margin: 5px 0;
}
